html, body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2{
    font-size: medium;
    text-align: left;
}

h3{
    font-size: 2.6rem;
    text-align: center;
}

p{
    max-width: 65%;
    min-width: 500px;
    text-align: center;
    padding-right: 100px; 
}

.container{
    display: flex;
}


.main{
    padding-left: 30px;
    min-width: 75%;
}

.nav{
    background-color: crimson;
    max-width: 25%;
    min-width: 140px;
    flex: 1;
}