html, body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2{
    font-size: 2.6rem;
    text-align: left;
}

h3{
    font-size: 2.6rem;
    text-align: center;
}

p{
    max-width: 65%;
    min-width: 500px;
    text-align: center;
    padding-right: 100px; 
}

div {
    padding-right: 30px;
    height: 100%;
    width: 100%;
}

.container{
    display: flex; 
    background: url("images/Galaxy_landing.jpg");
    animation: spinning 10s linear infinite;
}

@keyframes spinning {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}


.main{
    padding-left: 30px;
    min-width: 75%;
}

.nav{
    max-width: 35%;
    min-width: 140px;
    flex: 1;
}

.nav h1 {
  padding-left: 20px; 
}



